.profile-thumbnail{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

}
.profile-thumbnail div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #fff;/*이미지 뒤에 투명하게안비치게*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    /*이미지 효과 시간
    ease : 이미지 천천히 중간에 빨라졌다가 다시 천천히
    linear : 일정속도유지
    ease-in : 천천히시작해서 끝으로갈수록빨라짐
    ease-out : 빠르게 시작해서 끝으로 갈수록 천천히 멈춤
    */
    transition: transform 0.3s ease;
}

.profile-thumbnail div:hover{
    /*hover 이미지크기설정*/
    transform: scale(1.1);
}
.profile-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}