* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pizza-container{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pizza-container h1{
    font-size: 36px;
    background: linear-gradient(to right, red, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    text-align: center;
    margin-bottom: 20px;
}

.pizza-container ul{
    list-style: none;
}

.pizza-container li{
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pizza-container li:hover{
    
}

.pizza-name{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.pizza-description{
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin: 10px 0;
}

.pizza-price{
    font-size: 20px;
    font-weight: bold;
    color: #ff4500;
}

.pizza-container button{
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3 ease;
}

.pizza-container button:hover{
    background-color: #e63900;
}

.pizza-container button:focus{
    outline: none;
}